$light-color: #f5f5f5;
$blue-color: #676cf0;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card-size {
  width: 300px;
  height: 200px;
}

body {
  margin: 0;
  background-image: url('/assets/19606.jpg');
  background-size: contain;
  background-repeat: repeat;

  margin: 50px;

  @include flex-center;
}

.card {
  width: 100%;
  min-width: 330px;
  height: 100%;

  min-height: 90vh;

  background-color: rgba(134, 127, 141, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 10px;

  @include flex-center;
  flex-direction: column;

  &__header {
    @include flex-center;
    flex-direction: column;

    margin-bottom: 30px;

    width: 100%;

    &--title {
      color: $light-color;
      text-align: center;

      font-size: 30px;

      @media (min-width: 800px) {
        font-size: 40px;
      }
    }
  }

  &__nav {
    width: 70%;

    ul {
      margin: 0;
      padding: 0;

      list-style-type: none;

      @include flex-center;
      flex-wrap: wrap;

      font-size: 24px;
      color: $light-color;

      @media (min-width: 1300px) {
        font-size: 30px;
      }

      @media (max-width: 450px) {
        flex-direction: column;
      }

      li {
        width: fit-content;
        text-align: center;

        margin: 0 20px;

        cursor: pointer;

        &:hover {
          font-weight: 600;
          color: $blue-color;
        }
      }

      .active {
        font-weight: 600;
        text-decoration: underline;
        color: $blue-color;
      }
    }
  }

  &__grid {
    @include flex-center;
    flex-wrap: wrap;
  }

  &__content {
    margin: 0;
    padding: 0;

    @include card-size;

    border-radius: 8px;
    margin: 10px;

    @include flex-center;

    perspective: 700px;

    &--front {
      @include flex-center;

      position: absolute;

      @include card-size;
      border-radius: 8px;

      z-index: 1;
      transition: 0.8s;

      img {
        width: 280px;
        height: 180px;
      }
    }

    &--back {
      position: absolute;

      @include flex-center;
      flex-direction: column;

      @include card-size;
      border-radius: 8px;

      transition: 0.8s;
      transform: rotateY(-180deg);
      backface-visibility: hidden;

      h3 {
        margin: 10px 0;
        font-size: 18px;
      }

      p {
        margin: 10px 0;
        font-size: 14px;
      }
    }
  }

  .card__content:hover .card__content--front {
    transform: rotateY(180deg);
    z-index: 0;
  }

  .card__content:hover .card__content--back {
    transform: rotateY(0);
    z-index: 1;
  }
}

.Africa {
  background-color: lightgreen;
}

.Americas {
  background-color: lightyellow;
}

.Antarctic {
  background-color: #d0d0d0;
}

.Asia {
  background-color: #ffcccb;
}

.Europe {
  background-color: lavender;
}

.Oceania {
  background-color: lightblue;
}
